SERVER=http://127.0.0.1:8188
PORT=8787
COMFY_TRYON_WORKFLOW_PATH=backend/workflows/stitches1.json
COMFY_AVATAR_WORKFLOW_PATH=backend/workflows/stitches2.json
AVATAR_DIR=backend/assets/avatars
COMFY_TRYON_OUTPUT_NODE=94
COMFY_AVATAR_OUTPUT_NODE=43
